# Notebook 3: Preprocessing

_For USD-599 Capstone Project by Hunter Blum, Kyle Esteban Dalope, and Nicholas Lee (Summer 2023)_

***

**Content Overview:**
1. Missing Value Handling

In [2]:
# Library Imports
import pandas as pd
import numpy as np

## Missing Value Handling

In [3]:
# Read in the csv file from the previous notebook
preproc_df = pd.read_csv("../Data/clean_df.csv.gz",
                         compression = "gzip")

preproc_df.head(1)

,host_listings_count,room_type,bathrooms,bedrooms,price,minimum_nights,maximum_nights,minimum_minimum_nights,maximum_maximum_nights,has_availability,...,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month,zipcode,median_income_dollars,property_type_binary,private,sentiment
0,52.0,Entire home/apt,2.0,2.0,728.0,2,28,1.0,1125.0,t,...,t,30,0,0,3.77,92109,95170.0,house,1,0.900577

In [5]:
preproc_df.isna().sum()

host_listings_count                               51
room_type                                          0
bathrooms                                          6
bedrooms                                        1538
price                                              0
minimum_nights                                     0
maximum_nights                                     0
minimum_minimum_nights                             2
maximum_maximum_nights                             2
has_availability                                   0
availability_30                                    0
availability_365                                   0
number_of_reviews                                  0
review_scores_rating                            3186
review_scores_checkin                           3214
review_scores_location                          3214
instant_bookable                                   0
calculated_host_listings_count                     0
calculated_host_listings_count_private_rooms       0
calculated_host_listings_count_shared_rooms        0
reviews_per_month                               3186
zipcode                                            0
median_income_dollars                              0
property_type_binary                               0
private                                            0
sentiment                                          0
dtype: int64

In [12]:
# Check if the missing values are due to incomplete rows
preproc_df.loc[
    preproc_df["review_scores_rating"].isnull(), 
    ["bedrooms", "review_scores_rating", 
     "review_scores_checkin", "review_scores_location",
     "reviews_per_month"]
].isna().sum()

bedrooms                   247
review_scores_rating      3186
review_scores_checkin     3186
review_scores_location    3186
reviews_per_month         3186
dtype: int64

The above analysis shows that every record missing values in the feature _reviews_per_month_ is also missing values in _review_scores_rating_. Likewise, these records are also missing values in other review-related feature.

In [15]:
# If incomplete records were to be dropped, it would resolve many missing value issues
preproc_df.dropna(subset = ["reviews_per_month"]).isnull().sum()

host_listings_count                                3
room_type                                          0
bathrooms                                          3
bedrooms                                        1291
price                                              0
minimum_nights                                     0
maximum_nights                                     0
minimum_minimum_nights                             1
maximum_maximum_nights                             1
has_availability                                   0
availability_30                                    0
availability_365                                   0
number_of_reviews                                  0
review_scores_rating                               0
review_scores_checkin                             28
review_scores_location                            28
instant_bookable                                   0
calculated_host_listings_count                     0
calculated_host_listings_count_private_rooms       0
calculated_host_listings_count_shared_rooms        0
reviews_per_month                                  0
zipcode                                            0
median_income_dollars                              0
property_type_binary                               0
private                                            0
sentiment                                          0
dtype: int64